<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<!-- overriding the controller of saiteja_myownmodule -->
	 <preference for="Saiteja\Myownmodule\Controller\Post\View"  
    type="Teja\Blog\Controller\Rewrite\Index\Index" />

    <type name="Teja\Blog\Controller\Index\TestPlugin">
       <plugin name="test_plugin_unique_name" type="Teja\Blog\Plugin\TestSai" sortOrder="10" disabled="false"/>
   </type>
</config>